/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
/.trae
/tmp_*
/tmp/
*.log

/.superpowers
/.mcp.json

*.p12
*.jks
*.keystore
*.p7b
*.cer
*.pem
*.crt
*.key
*.p8